.header__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__left-box{
  display: flex;
  align-items:center;
  gap: 40px;
}

.header__right-box{
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__logo-box{
  max-width: 178px;
  width: 100%;
  transition: all;
  transition: 0.5s;
}
.menu__nav-bar{
  display: none;
}

.nav__list{
  display: flex;
  gap: 22px;
}

.nav__link{
  color: #211F54;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.006px;
}

.menu__nav-bar{
  max-width: 44px;
}


.header__text{
  color: #211F54;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.006px;
}



@media only screen  and (max-width:900px) {
  nav{
    display: none;
  }
  .menu__nav-bar{
    display: block;
  }
}

@media only screen and (max-width:600px) {
  .header__logo-box{
    max-width: 148px;
    width: 100%;
  }
  .header__left-box{
    gap: 20px;
  }
  .menu__nav-bar{
    max-width: 34px;
  }
  .header__right-box{
    gap: 14px;
  }
}

@media only screen and (max-width: 450px) {
  .header__text{
    display: none;
  }
  .header__left-box{
    gap: 7px;
  }
}